body {
  background-color: rgb(153, 124, 95);
}

.container {
  /* border: 3px solid black; */
  background-color: pink;
}

#sidebar {
  border: 2px solid black;
  background-color: rgb(188, 153, 126);
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);

}

#contentDisplay {
  float: right;
  width: 80%;
  background-color: rgb(188, 153, 126);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  font-family: 'Hina Mincho', serif;
}

.sbButton {
  width: 99%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  border: 2px solid black;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 1px;
  color: black;
}

#beancarry {
  padding-left: 500px;
}