p {
  color: rgb(0, 81, 128);
}

.container {
  /* border: 3px solid black; */
  background-color: pink;
}

#sidebar {
  border: 3px solid black;
  background-color: palegoldenrod;
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);

}

#contentDisplay {
  float: right;
  width: 80%;
  background-color: rgb(68, 166, 219);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  font-family: 'Hina Mincho', serif;
}

.sbButton {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  border: 2px solid black;
  border-radius: 0px;
  text-align: center;
}
