body {
  background-color: rgb(153, 124, 95);
}

#wrapper {
  /* display: flex; */
  position: relative;
}

.container {
  /* border: 3px solid black; */
  background-color: pink;
}

#sidebar {
  border: 2px solid black;
  background-color: rgb(188, 153, 126);
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  overflow: auto;
  min-height: 300px;
  /* box-sizing: border-box; */
  /* min-width: 15%; */
}

/* #contentDisplay {
  float: right;
  width: 80%;
  background-color: rgb(188, 153, 126);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  font-family: 'Hina Mincho', serif;
} */

.sbButton {
  width: auto;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 1px;
  color: black;
  /* padding: 0px; */
}

#beancarry {
  /* padding-left: 500px; */
  display: flex;
  flex-direction: row;
  width: 500px;
  position: fixed;
  bottom: 0px;
  left: 40%;
  right: 40%;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.beanCarryGif {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#bcgif {
  width: 80%;
  display: flex;
  position: absolute;
}

@media (max-width: 999px) {
  .sbButton,
  #sidebar,
  .container {
    width: auto;
    min-width: 100px; /* prevents the button from getting too small */
    padding: 10px; /* adjust as necessary */
    font-size: 0.8em; /* smaller font size for smaller screens */
    white-space: normal; /* for text wrapping */
    overflow: visible; /* makes sure text is not cut off */
    text-align: center; /* centers text in the button */
  }
}

/*Trying to have sidebar not overlap, but*/
@media (max-width: 800px) {
  #sidebar,
  .sbButton,
  .container {
    width: auto;
    max-width: 99px; /* prevent overlapping on grafana panel */
    min-width: 10px; /* prevent overlapping on grafana panel */
    white-space: normal;
    overflow: visible;
    text-align: center;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10%;
  background-color: rgb(188, 153, 126);
  border: 1px solid rgb(136, 73, 73);
  border-radius: 10px;
  padding: 70px 20px 50px 20px;
  box-shadow: 0 6px 8px rgba(75, 41, 41, 0.5);
  font-family: 'Hina Mincho', serif;
  font-size: larger;
}

#inputBox {
  background-color: white;
  border: 1px solid rgb(136, 73, 73);
  border-radius: 5px;
  width: 200px;
  height: 20px;
}

.connectButton {
  background-color: white;
  border: 1px solid rgb(136, 73, 73);
  border-radius: 5px;
  height: 25px;
}
